<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{{ buildTitle title site.title }}</title>

  <meta property="og:url" content="{{ site.url}}/{{ path }}"/>
  <meta property="og:title" content="{{ title }}"/>
  <meta property="og:article:author" content="Marcus Noble"/>
  <meta property="og:description" content="{{ striptags (markdown summary) }}"/>
  <meta property="og:site_name" content="{{ site.title }}"/>
  <meta property="og:image" content="https://opengraph.cluster.fun/opengraph/?siteTitle=Marcus%2BNoble&title={{ encodetitle title }}&tags={{ jointags tags }}&image=https%3A%2F%2Fmarcusnoble.co.uk%2Fimages%2Fmarcus.jpg&bluesky=%40averagemarcus.bsky.social&fediverse=%40marcus%40k8s.social&github=AverageMarcus&website=www.MarcusNoble.co.uk&bgColor=%23ffffff&fgColor=%23263943" />

  <meta name="twitter:card" content="summary_large_image"/>
  <meta name="twitter:image" content="https://opengraph.cluster.fun/opengraph/?siteTitle=Marcus%2BNoble&title={{ encodetitle title }}&tags={{ jointags tags }}&image=https%3A%2F%2Fmarcusnoble.co.uk%2Fimages%2Fmarcus.jpg&bluesky=%40averagemarcus.bsky.social&fediverse=%40marcus%40k8s.social&github=AverageMarcus&website=www.MarcusNoble.co.uk&bgColor=%23ffffff&fgColor=%23263943"/>

  <!-- https://blog.joinmastodon.org/2024/07/highlighting-journalism-on-mastodon/ -->
  <meta name="fediverse:creator" content="@Marcus@k8s.social" />

  <!-- Twitter Do Not Track -->
  <meta name="twitter:dnt" content="on">

  <link rel="apple-touch-icon" sizes="57x57" href="/images/favico/apple-touch-icon-57x57.png">
  <link rel="apple-touch-icon" sizes="60x60" href="/images/favico/apple-touch-icon-60x60.png">
  <link rel="apple-touch-icon" sizes="72x72" href="/images/favico/apple-touch-icon-72x72.png">
  <link rel="apple-touch-icon" sizes="76x76" href="/images/favico/apple-touch-icon-76x76.png">
  <link rel="apple-touch-icon" sizes="114x114" href="/images/favico/apple-touch-icon-114x114.png">
  <link rel="apple-touch-icon" sizes="120x120" href="/images/favico/apple-touch-icon-120x120.png">
  <link rel="apple-touch-icon" sizes="144x144" href="/images/favico/apple-touch-icon-144x144.png">
  <link rel="apple-touch-icon" sizes="152x152" href="/images/favico/apple-touch-icon-152x152.png">
  <link rel="apple-touch-icon" sizes="180x180" href="/images/favico/apple-touch-icon-180x180.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/images/favico/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/images/favico/favicon-16x16.png">
  <link rel="mask-icon" href="/images/favico/safari-pinned-tab.svg" color="#ffffff">
  <link rel="shortcut icon" href="/images/favico/favicon.ico">
  <meta name="theme-color" content="#ffffff">
  <meta name="msapplication-TileColor" content="#2b5797">
  <meta name="msapplication-TileImage" content="/images/favico/mstile-150x150.png">
  <!-- Chrome for Android -->
  <link rel="manifest" href="manifest.json">

  <link rel="stylesheet" media="screen" href="https://fontlibrary.org/face/orkney" type="text/css"/>
  <link rel="stylesheet" media="screen" href="https://fontlibrary.org/face/lemon" type="text/css"/>
  <link rel="stylesheet" href="/css/pico.min.css">
  <link rel="stylesheet" href="/css/style.css">

  <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ site.url }}/feed.xml">
  <script>
    if ('serviceWorker' in navigator) {
      window.addEventListener('load', function() {
        navigator.serviceWorker.register('/service-worker.js', { scope: '/' });
      });
    }
  </script>
</head>
