<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{{ buildTitle title site.title }}</title>

  <meta property="og:url" content="{{ site.url}}/{{ path }}"/>
  <meta property="og:title" content="{{ title }}"/>
  <meta property="og:description" content="{{ striptags (markdown summary) }}"/>
  <meta property="og:site_name" content="{{ site.title }}"/>
  <meta property="og:image" content="https://opengraph.cluster.fun/opengraph/?siteTitle=Marcus%20Noble&title={{ title }}&tags={{ jointags tags }}&image=https%3A%2F%2Fmarcusnoble.co.uk%2Fimages%2Fmarcus.jpg&twitter=Marcus_Noble_&github=AverageMarcus&website=www.MarcusNoble.co.uk&bgColor=%23ffffff&fgColor=%23263943" />

  <meta name="twitter:card" content="summary_large_image"/>
  <meta name="twitter:image" content="https://opengraph.cluster.fun/opengraph/?siteTitle=Marcus%20Noble&title={{ title }}&tags={{ jointags tags }}&image=https%3A%2F%2Fmarcusnoble.co.uk%2Fimages%2Fmarcus.jpg&twitter=Marcus_Noble_&github=AverageMarcus&website=www.MarcusNoble.co.uk&bgColor=%23ffffff&fgColor=%23263943"/>


  <!-- Twitter Do Not Track -->
  <meta name="twitter:dnt" content="on">

  <!-- For old IEs -->
  <link rel="shortcut icon" href="/images/favico/favicon.ico" />
  <!-- For new browsers - multisize ico  -->
  <link rel="icon" type="image/x-icon" sizes="16x16 32x32" href="/images/favico/favicon.ico">
  <!-- For iPad with high-resolution Retina display running iOS ≥ 7: -->
  <link rel="apple-touch-icon" sizes="152x152" href="/images/favico/favicon-152-precomposed.png">
  <!-- For iPad with high-resolution Retina display running iOS ≤ 6: -->
  <link rel="apple-touch-icon" sizes="144x144" href="/images/favico/favicon-144-precomposed.png">
  <!-- For iPhone with high-resolution Retina display running iOS ≥ 7: -->
  <link rel="apple-touch-icon" sizes="120x120" href="/images/favico/favicon-120-precomposed.png">
  <!-- For iPhone with high-resolution Retina display running iOS ≤ 6: -->
  <link rel="apple-touch-icon" sizes="114x114" href="/images/favico/favicon-114-precomposed.png">
  <!-- For iPhone 6+ -->
  <link rel="apple-touch-icon" sizes="180x180" href="/images/favico/favicon-180-precomposed.png">
  <!-- For first- and second-generation iPad: -->
  <link rel="apple-touch-icon" sizes="72x72" href="/images/favico/favicon-72-precomposed.png">
  <!-- For non-Retina iPhone, iPod Touch, and Android 2.1+ devices: -->
  <link rel="apple-touch-icon" sizes="57x57" href="/images/favico/favicon-57.png">
  <!-- For Old Chrome -->
  <link rel="icon" sizes="32x32" href="/images/favico/favicon-32.png" >
  <!-- For IE10 Metro -->
  <meta name="msapplication-TileColor" content="#FFFFFF">
  <meta name="msapplication-TileImage" content="/images/favico/favicon-192.png">
  <meta name="theme-color" content="#ffffff">
  <!-- Chrome for Android -->
  <link rel="manifest" href="manifest.json">
  <link rel="icon" sizes="192x192" href="/images/favico/favicon-192.png">


  <link rel="stylesheet" media="screen" href="https://fontlibrary.org/face/orkney" type="text/css"/>
  <link rel="stylesheet" media="screen" href="https://fontlibrary.org/face/lemon" type="text/css"/>
  <link rel="stylesheet" href="/css/pico.min.css">
  <link rel="stylesheet" href="/css/style.css">

  <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ site.url }}/feed.xml">
  <script>
    if ('serviceWorker' in navigator) {
      window.addEventListener('load', function() {
        navigator.serviceWorker.register('/service-worker.js', { scope: '/' });
      });
    }
  </script>
</head>
