$link-color: #AD4E4E;
$selectionColor: #D2D2D2;
$background-color: #FFF;

@import "_underlines.scss";


body {
  margin: 0;
  padding: 0;
  overflow: none;
}

* {
  &::selection {
    background-color: $selectionColor;
  }
  &::-moz-selection {
    background-color: $selectionColor;
  }
}

a {
  color: $link-color;
  transition: color ease .3s;

  &:hover {
    color: $link-color;
    text-decoration: none;
  }

  &+img {
    border-bottom: none;
  }
}

.center {
  text-align: center;
}

header {
  font-family: 'Lucida Grande', Arial, sans-serif;
  font-size: .8em;

  h1 {
    font-weight: normal;
    margin: .8em 0 .2em 8px;

    img {
      height: 2em;
      border-radius: 8px;
    }

    a {
      color: #000 !important;
      text-decoration: none;
      margin: 0;
    }

    .social {
      text-decoration: none;

      svg {
        height: 20px;
      }

      &:hover svg path,
      &:hover svg rect {
        fill: $link-color !important;
      }
    }
  }

  hr {
    margin: 0 auto;
    width: 95%;
    height: 1px;
    background-color: rgba(0, 0, 0, .2);
  }
}

pre code {
  overflow-x: auto;
  overflow-y: auto;
  padding-bottom: 15px;
  font-size: 0.85em;
}

p > code {
  background-color: #3f3f3f;
  color: #dcdcdc;
  font-size: 0.9em;
  padding: 2px 5px;
}

blockquote {
  border-left: 8px solid rgba(121, 130, 139, 0.52);
  margin-left: 0;
  padding-left: 1em;
  color: #79828B;
}

figure {
  max-width: 100%;
  margin: 0 auto;

  img {
    max-width: 100%;
    border: 1px solid rgba(100,100,100,.2);
  }

  p {
    margin: 0;
  }
}

iframe {
  max-width: 100%;
  border: 0;
  overflow: scroll;
}

hr {
  border: 0;
  height: 2px;
  background: rgba(121, 130, 139, 0.52);
  width: 80%;
}

details {
  font-size: 0.8em;
  border: 1px dashed #79828B;
  padding: 2px 8px;

  summary {
    cursor: pointer;
  }

  p {
    margin: 0;
  }
}

.emoji {
  display: inline !important;
  margin: 0 !important;
}

.container {
  max-width: 1020px;
  margin: 0 auto;
}

.post-list {
  list-style: none;
  padding: 0;
}

.post-preview {
  opacity: 0.6;
}

.pagination {
  text-align: center;
}
.pagination a {
  font-size: 1.4mem;
  color: #000;
}

.post {
  font-family: 'Lucida Grande', Arial, sans-serif;
  font-size: 18px;
  line-height: 28px;
  padding: 2px 8px;

  a {
    @include linkUnderlines($background-color, #4a4a4a, $link-color);
  }

  .post-title {
    color: #000;
    font-size: 32px;
    line-height: 34px;
    margin: 21px 0 0;
    font-weight: 700;

    a {
      color: #000;
      text-decoration: none;
      margin: 0;
    }
  }

  .full-post-link {
    font-style: italic;
    font-size: 0.9em;
  }

  .post-meta {
    color: #3d4145;
    font-size: 15px;
    line-height: 17px;
    margin: 0 0 12px 0;
  }
}

footer {
  margin: 20px 0 10px;
  color: #79828B;
  text-align: center;
}

.social-icons {
  a {
    text-decoration: none !important;
    background: none !important;
    text-shadow: none !important;
  }
  a svg {
    height: 40px;
  }
}

.share {
  background: transparent;
  border: none;
  display: none;
  cursor: pointer;

  &.show {
    display: initial;
  }

  &:hover, &:active {
    fill: $link-color;
    color: $link-color;
  }

  svg {
    height: 20px;
    vertical-align: bottom;
  }
}

table {
  width: 100%;
  border-spacing: 0;
  border-collapse: collapse;

  &, tr, td, th, tbody, thead {
    margin: 0;
    padding: 0;
  }

  th, td {
    padding: 5px;
    border: 1px solid #3d4145;
  }
}
