$link-color: #AD4E4E;
$selectionColor: #D2D2D2;
$background-color: #FFF;

@import "_underlines.scss";


body {
  margin: 0;
  padding: 0;
  overflow: none;
}

* {
  &::selection {
    background-color: $selectionColor;
  }
  &::-moz-selection {
    background-color: $selectionColor;
  }
}

a {
  color: $link-color;
  transition: color ease .3s;

  &:hover {
    color: $link-color;
    text-decoration: none;
  }

  &+img {
    border-bottom: none;
  }
}

pre code {
  overflow: scroll;
  padding-bottom: 15px;
}

figure {
  max-width: 100%;
  margin: 0 auto;

  img {
    max-width: 100%;
  }

  p {
    margin: 0;
  }
}

iframe {
  max-width: 100%;
  border: 0;
  overflow: scroll;
}

.emoji {
  display: inline !important;
  margin: 0 !important;
}

.container {
  max-width: 732px;
  margin: 0 auto;
}

.post-list {
  list-style: none;
  padding: 0;
}

.post-preview {
  opacity: 0.6;
}

.pagination {
  text-align: center;
}
.pagination a {
  font-size: 1.4mem;
  color: #000;
}

.back-to-blog {
  font-size: 2.5em;
  text-decoration: none !important;
  background: none !important;
  text-shadow: none !important;
}

.post {
  font-family: 'Lucida Grande', Arial, sans-serif;
  font-size: 18px;
  line-height: 28px;
  padding: 2px 8px;

  a {
    @include linkUnderlines($background-color, #4a4a4a, $link-color);
  }

  .post-title {
    color: #000;
    font-size: 32px;
    line-height: 34px;
    margin: 21px 0 0;
    font-weight: 700;

    a {
      color: #000;
      text-decoration: none;
      margin: 0;
    }
  }

  .post-meta {
    color: #79828B;
    font-size: 15px;
    line-height: 17px;
    margin: 0 0 12px 0;
  }
}

footer {
  margin: 20px 0 10px;
  color: #79828B;
  text-align: center;
}
.social-icons {
  a {
    text-decoration: none !important;
    background: none !important;
    text-shadow: none !important;
  }
  a svg {
    height: 40px;
  }
}