<html>
{{> head }}
<body>
  {{> header }}

  <div class="container">
    <section>
      <article class="post" itemscope itemtype="http://schema.org/BlogPosting">
        <a href="/" class="back-to-blog" title="Return to all posts">←</a>

        <h2 class="post-title" itemprop="name headline">
          <a class="post-link" href="{{ path }}">{{ title }}</a>
        </h2>

        <div class="post-meta feather_type">
          <span>
            <time datetime="{{moment this.date 'YYY-MM-DD' }}">
              {{moment this.date 'dddd, Do MMMM YYYY' }}
            </time>
          </span>
        </div>

        <div class="post-body" itemprop="articleBody">
          {{{ contents }}}
        </div>

      </article>
    </section>

    {{> footer }}
  </div>
</body>
</html>